{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block body %}
    <h1>Calendar</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ calendar.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ calendar.date|format_datetime('full', 'short', locale='fr') }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ calendar.content }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ calendar.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('index_calendar') }}">Liste de tous les évènemants</a>

    <a href="{{ path('edit_calendar', {'id': calendar.id}) }}">Modifier/Supprimer</a>

    {{ include('calendar/_delete_form.html.twig') }}
{% endblock %}
