{% extends 'base.html.twig' %}

{% block title %}Festiv'Elles{% endblock %}

{% block banner %}<img src="images/FestivEllesduLivreW400.jpg" alt="bannière du festival Festiv'Elles">{% endblock %}

{% block body %}

    <h1>Festiv'Elles</h1>
    <section class="greetings">
        <h2> Introduction </h2>

        <p>
            Le livre est un moyen essentiel de culture, d'épanouissement et aussi, par les sujets qu'il peut aborder, d'émancipation.
            C'est également un important vecteur d'informations.
            Le roman, la biographie, les ouvrages techniques forment un vaste champ de connaissances et d'investigations dans lequel les femmes doivent y avoir toute leur place à la fois en tant qu'autrice ou lectrice.
            Le livre est également un outil de communication utilisé par des femmes victimes de violences pour y témoigner de leur parcours.
        </p>
        <p>
            Dans la littérature comme ailleurs la place des femmes n'est pas reconnue à sa juste valeur et les projecteurs médiatiques doivent alors être très puissants pour les rendre visibles.
            Combien de temps a-t-il fallu pour qu'une femme, Marguerite Yourcenar, entre enfin à l'Académie Française ?
            Combien de femmes ont été rayées de l'Encyclopédie et quelle place leur est faite dans les Bibliothèques Nationales et les médiathèques ?
            Quelle est la proportion d'autrices invitées dans les émissions littéraires très majoritairement animées par des hommes ?
            Ces questions légitimes font partie intégrante des difficultés à parvenir à cette égalité réelle que Citoy'Elles porte dans tous les domaines de nos vies quotidiennes.
        </p>

        <p>
            Citoy'Elles a choisi comme slogan " Égalité Liberté Laïcité EnsembleS", comme Elles.
            Ces quatre mots seront  au cœur de ces journées et feront le lien avec les débats organisés et les animations que nous proposerons.
            De même au travers des rencontres et des thèmes abordés il ne s'agira pas de refermer le livre en attendant l'édition suivante mais de poser le cadre d'actions durables dans celui de nos activités.
            Dans nos communications et engagements, "Les Rencontres Citoy'Elles", "Portr'Elles" "L'édit'Elles du lundi" nous relayerons régulièrement nos travaux.
            La place des femmes dans la vie de la cité sera donc le fil conducteur du "Festiv'Elles du Livre" et celui-ci sera le moteur et le prolongement de nos travaux.

        </p>

        <p>


            Dans "EnsembleS" il y a aussi la présence des hommes, ceux-ci seront des observateurs privilégiés durant ces deux jours, pouvant entendre ainsi sans tabous et sans rejet ce que des femmes leur diront des inégalités qu'elles endurent au quotidien.

        </p>

        <h2> Grandes Lignes </h2>
        <p>
            Dans un château chargé d'histoire au cœur d'un parc séculaire, Le Festiv'Elles du Livre vous accueillera les 10 et 11 septembre 2022.
            L'espace sera entièrement dédié aux femmes et à l’écrit : des autrices viendront vous raconter leurs livres, leurs parcours et certaines participeront aux débats
            Une création artistique festive, nourrie d’histoires de femmes, portera par la poésie, la musique, le théâtre, ces paroles essentielles si longtemps tues et bâillonnées.
        </p>
        <p>
            Vous y viendrez aussi débattre sur la place des femmes dans la vie de la cité, des inégalités femmes hommes et des droits des femmes si souvent encore maltraités.
            Aurore le Goff, conférencière et membre de l'ONU femmes France organisera et animera ces débats et vous guidera au gré des stands durant ces deux jours
            Tout sera fait pour vous accueillir dans une ambiance joyeuse sans ne jamais négliger l'importance de l'enjeu premier du Festiv'Elles du Livre : donner aux femmes un espace de visibilité et de paroles.
            Quoi de mieux que l'écrit, les mots si souvent tus pour y parvenir ?
            </p>

            <p>
                La vocation du "Festiv'Elles du Livre" n'est pas de devenir un nouveau rendez-vous littéraire éphémère mais de s'installer durablement dans notre département sous forme d'une biennale.
                Durant ces trois jours il sera proposé aux femmes un espace de rencontres, de valorisation et aussi des moments de débats thématiques.
            </p>

            <p>
                Les autrices y présenteront bien sûr leurs œuvres mais, parce que l'écriture ne concerne pas que le livre, nous ne nous interdirons pas d'inviter des journalistes, des scénaristes, des femmes souvent invisibles qui ont écrit nombre de chansons célèbres notamment.
                Une place sera aussi faite aux écrits et récits de citoyennes.
                Le Festiv'Elles du Livre sera créatif, dynamique et joyeusement festif.
                Nous ne souhaitons pas un alignement commercial de stands mais, avec les autrices, de créer des espaces de diversité autour de l’écrit : poésie, lecture, chant pourront voyager au gré des improvisations en accueillant le public à participer.
                Le Festiv'Elles du Livre sera festif et joyeux pour donner à des sujets souvent graves et infiniment sérieux un supplément d’optimisme.
            </p>
            <p>
            Le Festiv'Elles du Livre sera celui de femmes, il sera cette pierre vers l'égalité femmes hommes que Citoy'Elles revendique : donner pleinement la parole et l'espace aux femmes ne signifie pas exclure quiconque mais avancer ensemble pour prendre conscience du long chemin à parcourir pour lutter contre les inégalités femmes hommes et les discriminations.
            </p>

            <h2> Déroulement </h2>

            <p>

            Le Festiv'Elles du Livre se déroulera sur trois jours. Une soirée inaugurale le vendredi sera consacrée aux invitées, à nos partenaires, à la presse, aux bénévoles et nos soutiens institutionnels.
            Dès le samedi matin et jusqu'au dimanche l'espace sera entièrement dédié aux autrices et aux invitées.
            Le Festiv'Elles du livre se tiendra au Château du Plessis à La Riche

            </p>

    </section>

    <section class="organigram">
        <h2> Organigramme </h2>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path("member_new") }}" class="adminElement">Nouveau membre</a>
        {% endif %}
        {% for title, members in membersOrdered %}
        <h3>{{ title }}</h3>
        <div class="members">
            {% for member in members %}
            <div class="member">
                {% if member.mission != null %}
                <p class="member-mission">{{ member.mission }}</p>
                {% endif %}
                <p class="member-name">{{ member.name }}</p>
                {% if member.phoneNumber != null %}
                <p class="member-contact">tel: {{ member.phoneNumber }}</p>
                {% endif %}
                {% if member.email != null %}
                <p class="member-contact">e-mail: {{ member.email }}</p>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('member_edit', {'id': member.id}) }}" class="adminElement">Modifier/Supprimer</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </section>


    <section class="program">
        <h2>Agenda à venir</h2>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path("new_calendar") }}" class="adminElement">Nouvel évènement</a>
        {% endif %}
        <ul>
            {% for event in events %}
            <li>
                <h3>{{ event.date|format_datetime('full', 'none', locale='fr') }}</h3>
                <p>
                    {{ event.title }}
                    {% if event.content != null %}
                    {{ event.content|nl2br }}
                    {% endif %}
                </p>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('edit_calendar', {'id': event.id}) }}" class="adminElement">Modifier/Supprimer « {{ event.title }} »</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="articles">
        <h2>Articles</h2>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path("new_article") }}" class="adminElement">Nouvel article</a>
        {% endif %}

        <ul>
            {% for article in articles %}
            <li>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('edit_article', {'id': article.id}) }}" class="adminElement">Modifier/Supprimer « {{ article.title }} »</a>
                {% endif %}
                <h2>{{ article.title }}</h2>
                <p>Publié le {{ article.date|format_datetime('full', 'none', locale='fr') }}</p>
                {% if article.imageFilename != null %}
                <img src="{{ asset('uploads/images/' ~ article.imageFilename) }}" alt="{{ article.title }}">
                {% endif %}
                {% if article.youTubeLink != null %}
                <iframe width="560" height="315" src="{{ article.youTubeLink }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endif %}
                <p>
                    {{ article.content|nl2br }}
                </p>
            </li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}
