{% extends 'base.html.twig' %}

{% block title %}Les Rencontres - {{ parent() }}{% endblock %}

{% block banner %}<img src="images/Les_Rencontres_Citoy_Elles.jpg" alt="bandeau">{% endblock %}
{% block body %}
<h2>Présentation</h2>

<p> Les inégalités femmes hommes, la place des femmes dans la vie de la cité </p>
<p>
    Nous savons l'ampleur des inégalités sociales, économiques, culturelles,
    nous voyons augmenter encore les violences conjugales.Aucun sujet ne sera éludé
    ou mis de côté dès lors qu'une femme présente dans une Rencontre Citoy'Elles
    souhaitera l'aborder.
</p>

<p>
    L'objectif est d'indentifié les inégalités et d'y apporter ensemble des solutions  qui seront proposées aux décideurs et aux  collectivités concernées.
    Cela suppose, après une Rencontre Citoy'Elles, la mise en place d'un groupe de travail dont la mission sera de vérifier la faisabilité des propositions.
</p>

<p>
    Que ce soit en ville ou en ruralité, Citoy'Elles organise Les Rencontres Citoy'Elles.
    Cela peut se faire à la demande d'une association, d'un organisme ou de citoyennes.
    De même nous n'imposons aucun thème particulier, les sujets abordés durant ces rencontres seront déterminés par les participantes.
</p>

<p>
    Souvent il nous est dit "mais les hommes ?". Nous ne les excluons pas de ces
    rencontres, nous rappelons juste que ce sont les femmes qui subissent très
    majoritairement les inégalités et que, dans les objectifs principaux de Citoy'Elles, il s'agit bien de travailler sur la place des femmes dans la vie de la cité.
</p>

<p> Contact: citoyelles@hotmail.com   06-10-99-44-48 </p>

<div class="article">
    <h3 class="article-title">Le temps des rencontres</h3>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path("new_calendar") }}" class="adminElement">Nouvel évènement</a>
    {% endif %}
            <ul>
                {% for event in events %}
                <li>
                    <h3>{{ event.date|format_datetime('full', 'short', locale='fr') }}</h3>
                    <p>
                        {{ event.title }}
                        {% if event.content != null %}
                        {{ event.content|nl2br }}
                        {% endif %}
                    </p>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('edit_calendar', {'id': event.id}) }}" class="adminElement">Modifier/Supprimer « {{ event.title }} »</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
</div>


<section class="articles">
    <h2 id="infoAndFollowTitle">Information et suivie des rencontres</h2>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path("new_article") }}" class="adminElement">Nouvel article</a>
    {% endif %}
    <ul>
        {% for article in articles %}
        <li class="article">
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('edit_article', {'id': article.id}) }}" class="adminElement">Modifier/Supprimer « {{ article.title }} »</a>
            {% endif %}
            <h2 class="article-title">{{ article.title }}</h2>
            <p>Publié le {{ article.date|format_datetime('full', 'short', locale='fr') }}</p>
            {% if article.imageFilename != null %}
            <img class="articleImage" src="{{ asset('uploads/images/' ~ article.imageFilename) }}" alt="{{ article.title }}">
            {% endif %}
            {% if article.youTubeLink != null %}
            <iframe width="560" height="315" src="{{ article.youTubeLink }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endif %}
            <p>
                {{ article.content|nl2br }}
            </p>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
