{% extends 'base.html.twig' %}

{% block title %}Actu'Elles{% endblock %}

{% block banner %}<img src="images/Actu'Elles.jpg" alt="bannière actu'elles">{% endblock %}

{% block body %}

        <h2> Citoy'Elles </h2>
        <img src="images/L'actualité de Citoy'Elles.jpg" alt="logo" class="logo_citoyelles">
        <h3> Dossiers et actualités de votre association </h3>
        
            <ul>
                    {% for article in articles %}
                    {% if article.imageFilename != null %}
                    <img src="{{ asset('uploads/images/' ~ article.imageFilename) }}" alt="{{ article.title }}">
                    {% endif %}
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.date|format_datetime('full', 'none', locale='fr') }}</p>
                    <p>
                        <pre>{{ article.content }}</pre>
                    </p>
                {% endfor %}
        </ul>


    <h2>Port'Elles</h2>
   {% for portrait in portraits %}

        <h2>{{ portrait.title }}</h2>

        <img src="{{ asset('uploads/images/' ~ portrait.imageFilename) }}" alt="{{ portrait.title }}">
        <p>

        </ul>
                    <pre>{{ portrait.content }}</pre>
        </p>
        {% endfor %}



    {% endblock %}
